* {
    -main-foreground: white;
    -secondary-foreground: #cacaca;
    -main-background: #aeaeae;
    -main-selected: #a6e1c2;
    -secondary-selected: #5e7a97;
    -tertiary-selected: #af3e38;
    -dark-border: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;

    -main-text: black;
    -secondary-text: #000000;
}

.edit_icon {
    -fx-background-image: url("icons/dark/edit_title.png");
}
.delete_icon {
    -fx-background-image: url("icons/dark/trash.png");
}
.close_program_icon{
    -fx-background-image: url("icons/dark/cross.png");
}

.add_note {
    -fx-background-image: url("icons/dark/addFile.png");
}
.search_icon {
    -fx-background-image: url("icons/dark/search.png");
}
.clear_search_icon {
    -fx-background-image: url("icons/dark/clear_search.png");
}

.refresh_icon {
    -fx-background-image: url("icons/dark/refresh.png");
}



.default_collection_icon{
    -fx-background-image: url("icons/dark/FavouriteDark.png");
}

.accessibility-button:hover{
    -fx-background-color: -main-selected !important;
}

.file-view-delete-button {
    -fx-background-image: url("icons/dark/trash.png");
    -fx-background-size: 18px;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-cursor: hand;
}