.separator:horizontal .line {
    -fx-background-color: -main-selected;
    -fx-border-width: 0;
    -fx-pref-height: 1px;
}

.context-menu {
    -fx-background-color: -main-background;
    -fx-border-color: -main-foreground;
    -fx-border-width: 1px;
    -fx-padding: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}

.context-menu .menu-item {
    -fx-text-fill: -main-text;
    -fx-font-size: 12px;
    -fx-padding: 5 10;
}

.context-menu .menu-item:hover {
    -fx-background-color: -secondary-selected;
}

/* LIST VIEW */
.list-view .text-field {
    -fx-background-color: -main-background;
    -fx-border-width: 0;
}
.list-view .list-cell:selected {
    -fx-background-color: -main-selected;
}
.list-view {
    -fx-background-color: -main-foreground;
    -fx-hbar-policy: never;
}
.list-view .list-cell {
    -fx-background-color: -main-foreground; /* Default background */
    -fx-border-radius: 10;
    -fx-padding: 3px;
}

/* TREE VIEW */
.tree-view .text-field {
    -fx-background-color: -main-background;
    -fx-border-width: 0;
}
.tree-view .tree-cell:selected {
    -fx-background-color: -main-selected;
}
.tree-view {
    -fx-background-color: -main-foreground;
    -fx-hbar-policy: never;
    -fx-pref-height: 75px;
}
.tree-view .tree-cell {
    -fx-background-color: -main-foreground; /* Default background */
    -fx-border-radius: 10;
    -fx-padding: 5 3;
}
.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: -main-text;
}

.mainView {
    -fx-border-color: -main-background;
}

/* Content view styles */
.content-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.content-blocker {
    -fx-text-fill: -secondary-text;
}

/* Options bar style */
.options-bar {
    -fx-background-color: -main-foreground;
}

/* Text-area content background */
.text-area .content {
    -fx-background-color: -main-background;
    -fx-border-color: -main-background;
    -fx-background-insets: 0;
}
.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 5px;
    -fx-padding: 0;
}
.scroll-bar .thumb {
    -fx-background-color : derive(-main-foreground, 70.0%);
    -fx-background-insets : 0.0, 0.0, 0.0;
    -fx-background-radius : 0.1em;
}
.scroll-bar:pressed {
    -fx-background-color: derive(-main-foreground, 15.0%);
}
.scroll-bar:hover {
    -fx-background-color: derive(-main-foreground, 15.0%);
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}
.text-area .content {
    -fx-end-margin: 0 50px 0 0;;
}

/* BUTTON */
.button {
    -fx-background-color: -main-foreground;
    -fx-transition: 1s;
}
.button:hover {
    -fx-background-color: -main-selected;
}

/* DEFAULT CLASSES */
.background-element {
    -fx-background-color: -main-background;
    -fx-border-color: -main-background;
}
.foreground-element {
    -fx-background-color: -main-foreground;
    -fx-border-color: -main-foreground;
    -fx-text-fill: -main-text;
}

.split-pane .split-pane-divider {
    -fx-padding: 1;
    -fx-background-color: -main-foreground;
}

/* ICONS */
.icon {
    -fx-background-size: 20px;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.icon:hover {
    -fx-background-color: -main-selected;
}
.search_bar_icon {
    -fx-background-size: 18px;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}
.note_list_icon {
    -fx-background-size: 15px;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}
.note_list_icon:hover {
    -fx-background-color: -main-background;
}

.collection_list_icon {
    -fx-background-size: 15px;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}
.collection_list_icon:hover {
    -fx-background-color: -main-background;
}

.edit_icon {
    -fx-background-image: url("icons/edit_title.png");
}
.delete_icon {
    -fx-background-image: url("icons/trash.png");
}
.close_program_icon{
    -fx-background-image: url("icons/cross.png");
}

.add_note {
    -fx-background-image: url("icons/addFile.png");
}
.search_icon {
    -fx-background-image: url("icons/search.png");
}
.clear_search_icon {
    -fx-background-image: url("icons/clear_search.png");
}

.refresh_icon {
    -fx-background-image: url("icons/refresh.png");
}

.set_default_collection_icon {
    -fx-background-image: url("icons/set_default_collection.png");
}

.default_collection_icon{
    -fx-background-image: url("icons/default_collection.png");
}

/* WebView */
.webview-content {
    -fx-background-color: transparent;
}

/* DIALOGS */

/* Alert and TextInputDialog base style */
.dialog-pane {
    -fx-background-color: -main-background;
    -fx-border-color: -main-foreground;
    -fx-padding: 15;
}

/* Header panel style */
.dialog-pane .header-panel {
    -fx-background-color: -main-foreground;
    -fx-text-fill: -main-text;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-alignment: center;
}

/* Content area */
.dialog-pane .content {
    -fx-text-fill: -main-text;
    -fx-font-size: 14px;
    -fx-padding: 10;
}

/* Buttons in Alert */
.dialog-pane .button-bar {
    -fx-background-color: -main-background;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-alignment: center-right;
}

.dialog-pane .button {
    -fx-background-color: -main-foreground;
    -fx-border-color: transparent;
    -fx-text-fill: -main-text;
    -fx-font-size: 14px;
    -fx-padding: 5 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.dialog-pane .button:hover {
    -fx-background-color: -main-selected;
}

/* Input field in TextInputDialog */
.dialog-pane .text-field {
    -fx-background-color: -main-background;
    -fx-border-color: -main-foreground;
    -fx-text-fill: -main-text;
    -fx-padding: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Focused input field */
.dialog-pane .text-field:focused {
    -fx-border-color: -main-selected;
}

/* Collections ListView */
.collection-list-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.collection-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -main-text;
    -fx-padding: 5 3;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-alignment: center-left;
}
.collection-list-view .list-cell:hover {
    -fx-background-color: #34495e;
    -fx-text-fill: -main-text;
    -fx-cursor: hand;
}
.collection-list-view .list-cell:selected {
    -fx-background-color: #007acc;
}

.current-collection-menuButton .custom-menu-item {
    -fx-text-fill: -main-text;
    -fx-font-size: 12px;
    -fx-padding: 0
}

.current-collection-menuButton .custom-menu-item:hover {
    -fx-background-color: -main-background;
}
.current-collection-menuButton .custom-menu-item {
    -fx-background-color: -main-background;
}
.current-collection-menuButton .menu-item {
    -fx-background-color: -main-background;
}
.current-collection-menuButton .label:hover {
    -fx-background-color: transparent;
}

/* For collection title button */
.current-collection-menuButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -main-text;
    -fx-cursor: hand;
}

.current-collection-menuButton:hover {
    -fx-background-color: -main-selected;
    -fx-text-fill: -main-text;
    -fx-cursor: hand;
}


.current-collection-label {
    -fx-text-fill: -main-text;
    -fx-padding: 6;
    -fx-font-size: 12px;
    -fx-pref-width: 250px;
    -fx-max-width: 250px;
}

.current-collection-label:hover {
    -fx-background-color: #34495e;
}

.current-collection-menu-item {
    -fx-background-color: transparent;
    -fx-padding: 5;
}
/* IN MOVE NOTE DROPDOWN */
.pick-note-destination{
    -fx-alignment: center-left; /* Align text to the left */
    -fx-padding: 5 0 5 5;    /* Add padding for spacing */
    -fx-font-size: 13px;        /* Adjust font size if needed */
    -fx-font-weight: bold;      /* Optional: make it bold */
    -fx-text-fill: -main-text;
    -fx-pref-width: 250px;
    -fx-max-width: 250px;
}
.pick-note-destination .hover{
    -fx-background-color: transparent;
}


/* Styles for embedded files */
.scroll-pane .viewport {
    -fx-background-color: -main-background;
}

.file-view {
    -fx-background-color: -main-background;
}

.file-view-entry {
    -fx-background-color: -main-foreground;
    -fx-padding: 0 10px 0 10px;
    -fx-min-height: 27px;
    -fx-pref-height: 27px;
    -fx-max-height: 27px;
    -fx-min-width: 125px;
    -fx-alignment: center;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.file-view-label {
    -fx-background-color: transparent;
    -fx-text-fill: -main-text;
    -fx-underline: true;
    -fx-cursor: hand;
}

.file-view-edit-button {
    -fx-background-image: url("icons/edit.png");
    -fx-background-size: 18px;
    -fx-pref-height: 18px;
    -fx-pref-width: 18px;
    -fx-cursor: hand;
}

.file-view-edit-button:hover {
    -fx-background-color: transparent;
}

.file-view-delete-button {
    -fx-background-image: url("icons/trash.png");
    -fx-background-size: 18px;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-cursor: hand;
}

.file-view-delete-button:hover {
    -fx-background-color: transparent;
}


/* Styles for embedded files */
.scroll-pane .viewport {
    -fx-background-color: -main-background;
}

.file-view {
    -fx-background-color: -main-background;
}


.file-view-entry {
    -fx-background-color: -main-foreground;
    -fx-padding: 0 10px 0 10px;
    -fx-min-height: 27px;
    -fx-pref-height: 27px;
    -fx-max-height: 27px;
    -fx-alignment: center;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.file-view-label {
    -fx-background-color: transparent;
    -fx-text-fill: -main-text;
    -fx-underline: true;
    -fx-cursor: hand;
}

.file-view-edit-button {
    -fx-background-image: url("icons/edit.png");
    -fx-background-size: 18px;
    -fx-pref-height: 18px;
    -fx-pref-width: 18px;
    -fx-cursor: hand;
}

.file-view-edit-button:hover {
    -fx-background-color: transparent;
}

.file-view-delete-button {
    -fx-background-image: url("icons/trash.png");
    -fx-background-size: 18px;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-cursor: hand;
}

.file-view-delete-button:hover {
    -fx-background-color: transparent;
}

/* Styles for embedded files */
.scroll-pane .viewport {
    -fx-background-color: -main-background;
}

.file-view {
    -fx-background-color: -main-background;
}

.file-view-entry {
    -fx-background-color: -main-foreground;
    -fx-padding: 0 10px 0 10px;
    -fx-min-height: 27px;
    -fx-pref-height: 27px;
    -fx-max-height: 27px;
    -fx-alignment: center;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.file-view-label {
    -fx-background-color: transparent;
    -fx-text-fill: -main-text;
    -fx-underline: true;
    -fx-cursor: hand;
}

.file-view-edit-button {
    -fx-background-image: url("icons/edit.png");
    -fx-background-size: 18px;
    -fx-pref-height: 18px;
    -fx-pref-width: 18px;
    -fx-cursor: hand;
}

.file-view-edit-button:hover {
    -fx-background-color: transparent;
}

.file-view-delete-button {
    -fx-background-image: url("icons/trash.png");
    -fx-background-size: 18px;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-cursor: hand;
}

.file-view-delete-button:hover {
    -fx-background-color: transparent;
}

.popup-hbox {
    -fx-background-radius: 4px 4px 0 0;
    -fx-border-radius: 4px 4px 0 0 ;
}

.close-button:hover{
    -fx-background-color: -tertiary-selected;
}

.popup-button:hover{
    -fx-background-color: -tertiary-selected;
}
.popup-button:focused{
    -fx-background-color: -tertiary-selected;
}

.popup-label {
    -fx-background-radius: 4px 0 0 0;
    -fx-border-radius:  4px 0 0 0;
}


.popup-root {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -dark-border;
    -fx-background-color: -main-background;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 5); !* Soft shadow *!*/
}
.popup-textfield{
    -fx-background-color: -secondary-foreground;
    -fx-text-fill: -main-text;
}

/* ============================= */
/* Styles for tag management */
#tagsRow {
    -fx-padding: 0 5;
    -fx-background-color: -main-foreground;
    -fx-border-color: -main-selected;
    -fx-spacing: 5;
    -fx-alignment: CENTER_LEFT;
}

#tagsBox {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

#tagLabel {
    -fx-text-fill: -main-text;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#clearTagsButton {
    -fx-background-color: -secondary-foreground;
    -fx-border-color: -dark-border;
    -fx-text-fill: -main-text;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 15;
    -fx-cursor: hand;
}

#clearTagsButton:hover {
    -fx-background-color: -main-selected;
}

.tag-dropdown {
    -fx-background-color: -secondary-foreground;
    -fx-border-color: -dark-border;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: -main-text;
    -fx-opacity: 0.9;
}

.tag-dropdown .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -main-text;
}

.tag-dropdown .list-cell:hover {
    -fx-background-color: -secondary-selected;
    -fx-text-fill: -main-text;
}

.tag-dropdown .list-cell:focused {
    -fx-background-color: #3b3e43;
    -fx-text-fill: -main-text;
}

.combo-box .text {
    -fx-fill: white;
}

/* Scrollbar styles */
#tagsScrollPane {
    -fx-background-color: -main-background;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

#tagsScrollPane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-pref-height: 6;
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #656565;
    -fx-background-radius: 4;
}

.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #808080;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}
/* ============================= */


/* Language switch */
#languageButton {
    -fx-background-color: -main-foreground;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 11px;
    -fx-text-fill: -main-text;
    -fx-cursor: hand;
}

#languageButton:hover {
    -fx-background-color: -main-selected;
    -fx-text-fill: -main-text;
}

#languageButton:pressed {
    -fx-background-color: -main-selected;
    -fx-text-fill: -main-foreground;
}

#languageButton:focused {
    -fx-background-color: -main-selected;
    -fx-text-fill: -main-text;
}

.notifications-bar {
    -fx-background-color: linear-gradient(to right, #854b4a 0%, -main-foreground 10%, -main-foreground 100%);
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: -main-background;
}

.notifications-bar-faded {
    -fx-background-color: linear-gradient(to right, -main-foreground 0%, -main-foreground 100%);
}

.language-button {
    -fx-background-color: #424c3f;
}

.notification-text {
    -fx-effect: dropshadow(gaussian, -main-foreground, 15, .4, 0, 0);
    -fx-text-fill: -main-text;
}